
@{
    ViewBag.Title = "ConfirmWorkOrder";
}

<div class="row text-center animated fadeInDown">
    <h2>Work Order Created</h2>
    <br />
    <h4 class="text-danger animated pulse infinite">Please remind the customer to wait for an email stating their credit verification before shipping the compound, and that the customer must ship the compound with his/her Work Order Number.</h4>
    <p>Work Order Number: @ViewBag.id</p>
    <p>Be sure to thank the customer!</p>
    @Html.ActionLink("Return to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-default" })
</div>


