
@{
    ViewBag.Title = "MarkAsReceived";
}

<div class="row text-center animated fadeInDown">
    <h2>Compound Marked As Received</h2>
    <br />
    <h4 class="text-success">You have marked this Work Order's Compound as "Received". You may return to your dashboard.</h4>
    @Html.ActionLink("Return to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-default" })
</div>



