
@{
    ViewBag.Title = "VerifyCreditConfirm";
}

<div class="row text-center animated fadeInDown">
    <h2>Work Order Credit Confirmed</h2>
    <br />
    <h4 class="text-success">You have verified this work order.</h4>
    <h5 class="text-default">Please send an email to the customer to tell them to ship their compound to our Singapore facility.</h5>
    <p>Work Order Number: @ViewBag.id</p>
    @Html.ActionLink("Return to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-default" })
</div>

