
@{
    ViewBag.Title = "Catalog";
}
<h2>Our most popular Assays</h2>
<div class="row animated fadeInUp">
    <div class="panel-group" id="accordian">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapse1">Biochemical Pharmacology (BP)</a>
            </div>
            <div class="panel-body panel-collapse collapse out" id="collapse1">
                <p>The field encompasses drug composition and properties, synthesis and drug design, molecular and cellular mechanisms, organ/systems mechanisms, signal transduction/cellular communication, molecular diagnostics, interactions, toxicology, chemical biology, therapy, and medical applications and antipathogenic capabilities.</p>
                <p><b>Materials used:</b> test tubes, anti-bodies, and other</p>
                <p><b>Required Tests: </b>3</p>
                <p><b>Conditional Tests: </b>1</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapse2">Custom Screen (CS)</a>
            </div>
            <div class="panel-body panel-collapse collapse out" id="collapse2">
                <p>Our Custom Assay Development Services puts your research plan as the blueprint for customized, highly validated immunoassay development with you in charge. Custom Assay Development Services allows you to pick your platform degree of customization required and validation levels and types to meet investigational or translational research needs.</p>
                <p><b>Materials Used:</b> screens, anti-bodies, other </p>
                <p><b>Required Tests: </b>2</p>
                <p><b>Conditional Tests: </b>2</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapse3">Discovery Screen (DS)</a>
            </div>
            <div class="panel-body panel-collapse collapse out" id="collapse3">
                <p>The Discovery Screen begins to identify specific concentrations of additives identified in the Initial Screen that confer the desired effect on the protein of interest while minimizing adverse effects, such as unfolding of the protein, which would be detrimental to down stream structural and functional assays.</p>
                <p><b>Materials Used:</b> screens, anti-bodies, and other</p>
                <p><b>Required Tests:</b> 1</p>
                <p><b>Conditional Tests: </b>3</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapse4">Immuno Screen (IS)</a>
            </div>
            <div class="panel-body panel-collapse collapse out" id="collapse4">
                <p>Screening, high-throughput screening, and ultra-high-throughput screening are all really just points on a spectrum that represent differing applications of the same process: the creation of biologically relevant assays that are relevant, reproducible, reliable, and robust. Whether the discovery program is developing a pharmaceutical, an academic probe, cosmetics, pesticides, or a toxicity monitoring assay, the development of a screen focuses on generating a method that will reliably deliver reproducible results over a period of weeks, months, or years and that will generate consistent results for every test along the way.</p>
                <p><b>Materials Used:</b> screens, antibodies, PBS buffering agent, 380nm substrate, other</p>
                <p><b>Required Tests:</b> 3</p>
                <p><b>Conditional Tests: </b>2</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapse5">Pharma Screen (PS)</a>
            </div>
            <div class="panel-body panel-collapse collapse out" id="collapse5">
                <p>The researcher fills each well of the plate with some biological entity that they wish to conduct the experiment upon, such as a protein, cells, or an animal embryo. After some incubation time has passed to allow the biological matter to absorb, bind to, or otherwise react (or fail to react) with the compounds in the wells, measurements are taken across all the plate's wells, either manually or by a machine.</p>
                <p><b>Materials Used:</b> screens, state-of-the-art microscopes, other</p>
                <p><b>Required Tests:</b> 1</p>
                <p><b>Conditional Tests: </b>1</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapse6">Profiling Screen (PF)</a>
            </div>
            <div class="panel-body panel-collapse collapse out" id="collapse6">
                <p>We use a fluorescence polarization activity-based protein profiling (fluopol-ABPP) assay to discover selective small-molecule inhibitors of PREPL. Fluopol-ABPP is a substrate-free approach that is ideally suited for studying serine hydrolases for which no substrates are known, such as PREPL.</p>
                <p><b>Materials Used:</b> screens, anti-bodies, other</p>
                <p><b>Required Tests:</b> 2</p>
                <p><b>Conditional Tests: </b>2</p>
            </div>
        </div>

    </div>
  <div><a class="btn btn-primary text-center" href="@Url.Action("CustomerLogin", "Login")">Order Now</a></div>
</div>

