
@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>

<br />
<br />
<br />

<p>
    You can reach us at (555) 555-5555, or make an account with us @Html.ActionLink("here", "Create", "Customers") to create a ticket so we can call you back.
</p>

