
@{
    ViewBag.Title = "CustomerLogin";
}



<div class="login" style="background-color: #ADD8E6">
    <br />
    <br />
    <div class="row text-center animated fadeInDown"><h2>Customer Portal</h2></div>

    <br />
    <br />
    <div class="text-center animated fadeInDown">

        @using (Html.BeginForm("CustomerLogin", "Login", FormMethod.Post))
        {
            <div class="row"><span class="text-danger text-center">@ViewBag.Message</span></div>
            <br />
            <div class="row">
                <label for="inputEmail">Username:</label>
                @Html.TextBox("userName")
            </div>
            <br />
            <div class="row">
                <label for="inputPassword">Password:</label>
                @Html.Password("Password")
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                   @Html.ActionLink("Register", "Create", "Customers", null, new { @class = "btn btn-default" })
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" type="submit">Login</button>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        }
    </div>
    <br />
    <br />
</div>
