@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron animated fadeInDown">
    <h1>Northwest Labs</h1>
    <h2 class="lead">Northwest Labs is a biotechnology company committed to accurate and speedy results.</h2>
    <br />
    <br />
    <p>Need to make an order or have any questions?</p>
    @Html.ActionLink("Contact Us", "Contact", "Login", null, new { @class = "btn btn-primary"})
</div>

<div class="row">
    <div class="col-md-6 animated fadeInLeft">
        <h2>Assay Catalog</h2>
        <p>
            We have a large selection of sensitive assays that can detect even the smallest concentrations.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6 animated fadeInRight">
        <h2>About Us</h2>
        <p>Learn more about us here!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>