
@{
    ViewBag.Title = "CustomerConfirmTicket";
}
<br />
<br />
<br />  
<div class="row text-center">
    <p>Thank you. Your ticket has been received.</p>
    @Html.ActionLink("Return To My Dashboard", "Customer", "Dashboard", null, new { @class = "btn btn-default"})
</div>

