
@{
    ViewBag.Title = "SalesAgent";
}

<h2>
   Sales Representative Control Panel
</h2>

<div class="row text-center">
    @Html.ActionLink("Add Customer", "Create", "Customers", null, new { @class = "btn btn-primary"})
</div>
