
@{
    ViewBag.Title = "Index";
}

<h2>Admin Control Center</h2>
<br />
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.ActionLink("Manage Employees", "Index", "Employees", null, new { @class = "btn btn-primary"})
        @Html.ActionLink("Manage Customers", "Index", "Employees", null, new { @class = "btn btn-primary" })
    </div>
</div>

